.button {
  border-radius: 50%;
  border: 0.5rem var(--secondary-colour) solid;
  font-size: large;
  text-align: center;
  background: transparent;
  color: white;
  height: 8rem;
  width: 8rem;
  margin: 2rem;
  cursor: pointer;
  box-shadow: 0 5px 13, 5, 83;
  outline: none;
  transition: 0.3s ease-in-out;
}

.buttons-startgame {
  border-radius: 50%;
  border: 0.5rem var(--secondary-colour) solid;
  font-size: large;
  text-align: center;
  background: transparent;
  color: white;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
  box-shadow: 0 5px 13, 5, 83;
  outline: none;
  transition: 0.3s ease-in-out;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 0.9s;
  animation: pulse 0.9s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--secondary-colour);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--secondary-colour);
  }
}

.button:hover {
  background-color: var(--secondary-colour);
}

.button:active {
  box-shadow: 0 3px rgb(13, 5, 83);
  transform: translateY(8px);
}

.buttons-startgame:hover {
  background-color: var(--secondary-colour);
}
.buttons-startgame:active {
  box-shadow: 0 3px rgb(13, 5, 83);
  transform: translateY(8px);
}

.gamestart-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button-guess {
  align-self: center;
  margin-top: 1.5rem;
}

.button-sketchpad {
  align-self: center;
}

.buttons-colour-pick {
  align-self: stretch;
  align-self: stretch;
  justify-self: center;
}

.button-newgame {
  margin-top: 8rem;
}
