.button {
  border-radius: 2rem;
  outline: none;
  background-color: var(--secondary-colour);
  font-size: large;
  color: var(--highlights);
  border: var(--highlights) 2px;
}

.button-padding {
  padding: 0.5rem;
  width: 20rem;
}
