.img-card {
  height: 100%;
  width: 100%;
  justify-self: center;
  object-fit: contain;
  border-radius: 1.85rem 1.85rem 0rem 0rem;
}

.img-card-round-background {
  background-color: white;
}

.img-card-endscreen {
  border-radius: 1.85rem 1.85rem 1.85rem 1.85rem;
}
