input,
label {
  display: block;
}

label {
  font-family: var(--font-title);
  color: var(--highlights);
  padding-bottom: 0.3rem;
}

input {
  outline: none;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  text-decoration: none;
  border: 0.5rem white solid;
  text-align: center;
  background: transparent;
  color: white;
  z-index: 999;
}
