.container-global {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: auto;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.container-header {
  display: flex;
  justify-content: space-around;
}

/* Start Form */

.container-form-start {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.startform {
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1.1rem;
  grid-template-columns: 30em 30em;
  grid-template-rows: 8rem 4rem 8rem;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 10em 10em 10em 10em;
  grid-gap: 1rem;
  grid-template-rows: 6em 6em;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  justify-content: end;
  align-self: center;
}

.row1 {
  justify-self: center;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.row2 {
  justify-self: center;
  grid-row: 1;
  grid-column: 3 / span 2;
}

.row3 {
  justify-self: center;
  grid-row: 2;
  grid-column: 1 / span 2;
}
.row4 {
  justify-self: center;
  grid-row: 2;
  grid-column: 3 / span 2;
}
.button-startform {
  grid-column: 5;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}
.rules {
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-self: start;
  align-self: center;
}

/* Rules Pop Up*/

.rules-text-col1 {
  text-align: center;
  grid-column: 1;
  grid-row: 4;
  line-height: 1.5rem;
}

.rules-text-col2 {
  text-align: center;
  grid-column: 1;
  grid-row: 4;
  line-height: 1.5rem;
}

.text-container {
  align-self: end;
  justify-self: center;
}

/*Card - Guess Form, SketchPad, EndScreen */

.container-card-grid {
  width: auto;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 30rem;
  grid-template-rows: 25rem 17rem;
  justify-items: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem #150030;
}

.card-lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-lower-elements {
  align-self: center;
}

/*Guess Card */

/* Sketchpad */
.container-grid-sketchpad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.container-sketchpad {
  margin: auto 0;
  box-shadow: 1rem 1rem 1rem #150030;
  border-radius: 1rem;
}

.container-sketchpad-buttons {
  display: flex;
}

/* End Screen */

.container-endscreen {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(6, 5rem);
  justify-items: center;
}

.container-card-grid-endscreen {
  width: auto;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 18.5rem;
  grid-template-rows: 3.5rem 17rem 7rem;
  justify-items: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem #150030;
}

.card-grid-endscreen-original {
  grid-column: 1;
  grid-row: 2 / span 3;
}
.card-grid-endscreen-sketch1 {
  grid-column: 2;
  grid-row: 2 / span 3;
}

.card-grid-endscreen-sketch2 {
  grid-column: 3;
  grid-row: 2 / span 3;
}

.button-newgame {
  grid-column: 2;
  grid-row: 6;
}
.shadow {
  box-shadow: 1rem 1rem 1rem #150030;
}

/* media queries */

/* @media only screen and (max-width: 985px) {
  .container-form-start {
    margin-top: 0;
  }

  .startform {
    grid-template-columns: 20em 20em;
    grid-template-rows: 6em 8em 10em;
    align-items: end;
  }

  .row1 {
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
  }
  
  .row2 {
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
  }
  
  .row3 {
    justify-self: center;
    grid-row: 2;
    grid-column: 1;
  }
  
  .row4 {
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
  }
  .button-startform {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
  }
  .rules {
    grid-column: 1;
    grid-row: 3;
    align-self: center;  
  }

}

@media only screen and (max-width: 635px) {
  .startform {
    display: flex;
    flex-direction: column;
  }

  .button-startform {
    align-self: center;
  }

  .rules {
    display: none;
  }

}

@media only screen and (max-width: 530px) {
  .container-global {
    padding: 0.5rem
  }

  .container-card-grid {
    grid-template-columns: 100vw;
  }

  .container-header {
    flex-direction: column-reverse;
    justify-content: start;    
  }

  .container-header > * {
    align-self: center;
    margin: 0.5rem 0 0 0;    
  }

  .container-grid-sketchpad {
    display: flex;
    flex-direction: column;
  }

  .container-grid-sketchpad > canvas {
    align-self: center;
    width: 350px !important;
    height: 350px !important;
  }

  .container-sketchpad-buttons {
    display: flex;
  }

  .buttons-colour-pick {
    display: none !important;
  }

  .button-sketchpad {
    margin: auto !important;
  }
}

@media only screen and (max-width: 400px) {
  .gamestart-button {
    align-self: center;
  }
}

@media only screen and (max-width: 635px) {
    .title {
      font-size: 9vw;
  }
} */
