.container-global {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: auto;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

/* Start Form */

.monster {
  z-index: 10;
}

.container-form-start {
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.startform {
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1.1rem;
  grid-template-columns: 10em 20em 20em 10em;
  grid-template-rows: 10em 10em 8em;
  align-items: end;
}
.button-startform {
  grid-column: 4;
  grid-row: 3;
}

.row1 {
  grid-row: 2;
  grid-column: 2/3;
}

.row2 {
  grid-row: 2;
  grid-column: 3/4;
}

.row3 {
  grid-row: 3;
  grid-column: 2;
}

.row4 {
  grid-row: 3;
  grid-column: 3;
}

/* Game Start */

.container-grid-gamestart {
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: 1/30rem;
  grid-template-rows: 20em 20rem;
  justify-items: center;
}
.lower-card {
  background-color: var(--secondary-colour);
  width: auto;
  height: auto;
}

.card-upper {
  width: 50rem;
}

/* Sketchpad */

.container-sketchpad {
  margin: auto 0;
}

.container-grid-sketchpad {
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 20rem 8rem;
  align-items: center;
  justify-content: center;
}

/* Guess Form */

.container-grid-guess {
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 25rem 8rem;
  align-items: center;
  justify-content: center;
}

/* End Screen */ ;
