.container-global {
  margin: 0;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 5rem 5rem 5rem 5rem;
}

/* Start Form */

.container-form-start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.startform {
  width: 46.25rem;
  height: 26rem;
  margin: 0 auto;
  padding: 2em;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1.1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10em 10em 3em 5em;
}

.button-startform {
  grid-column: 1 / span 2;
  margin-right: 25%;
  margin-left: 25%;
}

/* Sketchpad */

.container-sketchpad {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Guess Form */

/* End Screen */
