:root {
  --bg-colour: #2e005b;
  --secondary-colour: #4ec500;
  --highlights: #fff45c;
  --text-colour: #f0f0ed;
  --border-colour: #f0d95b;
  --font-main: "Rubik", sans-serif;
  --font-title: "Frankentype", sans-serif;
}
