p {
  font-family: var(--font-title);
  color: var(--highlights);
  padding: 0;
  margin: 0;
}

.gamestart-word {
  font-size: 3rem;
}

.word {
  font-family: var(--font-title);
  color: var(--highlights);
}
