@font-face {
  font-family: "Run";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Run.woff");
}

p {
  font-family: var(--font-main);
  color: var(--highlights);
}

p span {
  display: block;
}

.card-word {
  font-size: 3rem;
  margin: 0;
}

.player-word {
  font-size: 3rem;
}

.word {
  font-family: var(--font-title);
  color: var(--highlights);
}

h1 {
  font-family: "Run", serif;
  font-size: 4.5rem;
  color: white;
}

h2 {
  font-family: "Run", serif;
  font-size: 2.5rem;
  color: white;
}

.endscreen-card-text {
  font-size: 2rem;
  text-align: center;
}
