@font-face {
  font-family: "Frankentype";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Frankentype.woff");
}

p {
  font-family: var(--font-main);
  color: var(--highlights);
}

p span {
  display: block;
}

.card-word {
  font-size: 2rem;
  margin: 0;
}

.player-word {
  font-size: 3rem;
}

.word {
  font-family: var(--font-title);
  color: white;
}

h1 {
  font-family: "Frankentype", serif;
  font-size: 6.5rem;
  color: white;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Frankentype", serif;
  font-size: 3.5rem;
  color: white;
  margin: 2rem;
}

.endscreen-card-text {
  font-size: 2rem;
  text-align: center;
}

h1.start-title {
  margin: 0.5rem 0rem 0.5rem 0rem;
  animation: 0.8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

h2.rules-header {
  margin: 2rem 0 0 0;
}

.text-container {
  width: 22rem;
}

.bold {
  background: #4ec500;
  color: white;
  width: 50%;
  justify-self: center;
  border-radius: 4px;
  text-align: center;
}
